body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #374058;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #374058;
    color: #fff;
}

header nav a {
    color: #fff;
    text-decoration: none;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li {
    display: inline;
}

#hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
}

#explainer {
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px; 
    background-color: #fff; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#explainer h2 {
    font-size: 24px; 
    color: #374058; 
    margin-bottom: 10px; 
}

#explainer h3 {
    font-size: 16px; 
    color: #666;
    line-height: 1.5; 
}

#cta {
    display: inline-block; 
    background-color: #374058; 
    color: #fff; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    text-decoration: none;
    transition: background-color 0.3s;
}

#cta a{
    text-decoration: none;
    color: white;
}

#cta > p{
    padding: 3px;
    font-size: 1rem;
    text-shadow: 2px 2px 10px #000;
}
    
#cta:hover {
    background-color: #2a3144;
}

#filmes {
    background-color: #374058; 
    padding: 20px; 
}

aside {
    max-width: 400px; 
    margin-top: 4  0px; 
    padding: 20px; 
    background-color: #fff; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

aside img {
    width: 100%; 
    border-radius: 30px; 
}

aside h4 {
    margin-top: 10px; 
    font-size: 16px; 
    color: #374058; 

}

#sobre {
    max-width: 800px; 
    margin: 20px auto; 
    padding: 20px; 
    background-color: #fff; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

#sobre img {
    max-width: 100%; 
    border-radius: 10px; 
    margin-bottom: 20px; 
}

#sobre h3 {
    font-size: 20px; 
    color: #374058; 
    margin-bottom: 10px; 

}

#sobre h3::after {
    content: ''; 
    display: block;
    width: 50px; 
    height: 2px; 
    background-color: #374058;
    margin-top: 5px; 
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.card {
    width: 300px;
    height: 400px;
    perspective: 1000px;
    cursor: pointer;
    position: relative;
}

.card .inner-card {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.card:hover .inner-card {
    transform: rotateY(180deg);
}

.front, .back {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    backface-visibility: hidden;
}

.front {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.back {
    background-color: #f8f8f8;
    color: #374058;
    transform: rotateY(180deg);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#register-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #fff;
}

.input-wrapper {
    margin-bottom: 15px;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #374058;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2a3144;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #374058;
    color: #fff;
}

footer a {
    color: #fff;
    text-decoration: none;
}
